{% extends 'error_page.html' %}
{% block title %}Dashboard{% endblock title %}
{% block content %}

<section class="section-conten padding-y bg"><br/>

<div class="container">
	<div class="row">
	<main class="col-md-9">
		<article class="card">
		<header class="card-header">
			<strong class="d-inline-block mr-3">Page Not Found</strong>
			{% comment %} <span>Order Date: 16 December 2018</span> {% endcomment %}
		</header>
		<div class='card-body'>
			<div class ='row'>
				<div class='col-md-12'>
					<h2>Your are lost</h2>

					<p>Here are some helpful links</p>

					<ul>
						<li>
							<a href='{% url "home" %}'>Go back home</a>
						</li>
					</ul>
					  
				</div>
			</div>
		</div> <!-- table-responsive .end// -->
		</article> <!-- order-group.// --> 
	</main>
</div> <!-- row.// -->
</div>
</section> 
{% endblock content %}