{% extends 'base.html' %}
{% block title %}Edit Profile{% endblock title %}
{% block content %}

<section class="section-conten padding-y bg"><br/>

<div class="container">
	<div class="row">
	{% include 'app/dashboard_sidebar.html' %}
	<main class="col-md-9">
		<article class="card">
		<header class="card-header">
			<strong class="d-inline-block mr-3">Edit Profile</strong>
			{% comment %} <span>Order Date: 16 December 2018</span> {% endcomment %}
		</header>
		<div class='card-body'>
			<div class ='row'>
				<div class='col-md-12'>
          <form action="{% url 'address' %}" method="POST" enctype="multipart/form-data" >
            {% include 'alerts.html' %}
            {% csrf_token %}
            <div class="col-12">
              <label for="inputName" class="form-label">First Name</label>
              {{user_form.first_name}}
            </div>
            <div class="col-12">
              <label for="inputName" class="form-label">Last Name</label>
              {{user_form.last_name}}
            </div>
            <div class="col-12">
              <label for="inputName" class="form-label">Mobile Number</label>
              {{profile_form.mobile}}
            </div>
            <div class="col-12">
              <label for="inputName" class="form-label">User Name</label>
              {{profile_form.username}}
            </div>
            <div class="col-12">
              <label for="inputAddress" class="form-label">Profile Picture</label>
              {{profile_form.profile_picture}}    
            </div>
            <div class="col-12">
              <label for="inputAddress" class="form-label">Address</label>
              {{profile_form.address_line_1}}    
            </div>
            <div class="col-12">
              <label for="inputAddress2" class="form-label">Address 2</label>
              {{profile_form.address_line_2}}      
            </div>
            <div class="col-12">
              <label for="inputCity" class="form-label">City</label>
              {{profile_form.city}}  
            </div>
            <div class="col-12">
              <label for="inputCity" class="form-label">State</label>
              {{profile_form.state}}
            </div>
            <div class="col-md-2">
              <label for="inputZip" class="form-label">Zip</label>
              {{profile_form.zipcode}}
            </div>
            <div class="col-12 mt-3">
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
           </form>
				</div>
			</div>
		</div> <!-- table-responsive .end// -->
		</article> <!-- order-group.// --> 
	</main>
</div> <!-- row.// -->
</div>
</section> 
{% endblock content %}

