{% extends 'base.html' %}
{% block title %}Dashboard{% endblock title %}
{% block content %}

<section class="section-conten padding-y bg"><br/>

<div class="container">
	<div class="row">
	{% include 'app/dashboard_sidebar.html' %}
	<main class="col-md-9">
		<article class="card">
		<header class="card-header">
			<strong class="d-inline-block mr-3">Dashboard</strong>
			{% comment %} <span>Order Date: 16 December 2018</span> {% endcomment %}
		</header>
		<div class='card-body'>
			<div class ='row'>
				<div class='col-md-12'>
					<section style="background-color: #eee;">
						<div class="container py-5">
						  <div class="row">
						  </div>
						  {% include 'alerts.html' %}
						  <div class="row">
							<div class="col-lg-4">
							  <div class="card mb-4">
								<div class="card-body text-center">
								  <img src="{{ userprofile.profile_picture.url }}" alt="avatar"
									class="rounded-circle img-fluid" style="width: 150px;" />
								  <h5 class="my-3">{{user.username}}</h5>
								  <p class="text-muted mb-1">{{userprofile.role}}</p>
								  <p class="text-muted mb-4">{{userprofile.address_line_1}}</p>
								  <div class="d-flex justify-content-center mb-2">
									<a  type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary" href='{% url "address" %}'>Update</a>
									<a  type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-outline-danger ms-1" href='{% url "delete" %}'>Delete</a>
								  </div> 
								</div>
							  </div>
							</div>
					  
							<div class="col-lg-8">
							  <div class="card mb-4">
								<div class="card-body">
								  <div class="row">
									<div class="col-sm-3">
									  <p class="mb-0">Full Name</p>
									</div>
									<div class="col-sm-9">
									  <p class="text-muted mb-0">{{user.username}}</p>
									</div>
								  </div>
								  <hr>
								  <div class="row">
									<div class="col-sm-3">
									  <p class="mb-0">Email</p>
									</div>
									<div class="col-sm-9">
									  <p class="text-muted mb-0">{{user.email}}</p>
									</div>
								  </div>
								  <hr>
						
								  <div class="row">
									<div class="col-sm-3">
									  <p class="mb-0">Mobile</p>
									</div>
									<div class="col-sm-9">
									  <p class="text-muted mb-0">{{userprofile.mobile}}</p>
									</div>
								  </div>
								  <hr>
								  <div class="row">
									<div class="col-sm-3">
									  <p class="mb-0">Address</p>
									</div>
									<div class="col-sm-9">
									  <p class="text-muted mb-0">{{userprofile.address_line_1}}</p>
									</div>
								  </div>
								</div>
							  </div>
							</div>
						  </div>
						</div>
					  </section> 
					  
				</div>
			</div>
		</div> <!-- table-responsive .end// -->
		</article> <!-- order-group.// --> 
	</main>
</div> <!-- row.// -->
</div>
</section> 
{% endblock content %}