<aside class="col-md-3">
    <!--   SIDEBAR   -->
    <ul class="list-group">
        <a class="list-group-item {% if '/dashboard/' in request.path  %}active{% endif %}" href="{% url 'dashboard' %}"> Dashboard </a>
        <a class="list-group-item {% if '/accounts/' == request.path  %}active{% endif %}" href="{% url 'profile' %}">Create Profile </a>
        <a class="list-group-item {% if '/profile/' == request.path  %}active{% endif %}" href="{% url 'address' %}">Update Profile </a>
        <a class="list-group-item {% if '/changepassword/' in request.path  %}active{% endif %}" href="{% url 'changepassword' %}">Change Password </a>
        <a class="list-group-item {% if '/Logout_view/' in request.path  %}active{% endif %} " href="{% url 'Logout_view' %}"> Logout</a>
    </ul>
</aside>
