{% extends 'app/base.html' %}
{% load static %}
{% block title %}Login{% endblock title %}
{% block main-content %}


<div class="container">
    {% if request.GET.command == 'verification' %}
    <div class="container mx-auto alert alert-info text-center" role='alert' style="max-width: 1024px; margin-top:100px;">
    Thankyou for registerring with us. we have send you a verification email to your email address[{{ request.GET.email }}]
    <br></br>
    Already  verified? <a href="{% url "login" %}">Login</a>
    </div>
    {% else %} 

 <div class="row my-3">
  <div class="col-sm-6 offset-sm-3">
   <h3>Login</h3>
   <hr>
   {% include "alerts.html" %}
   <form action="{% url "login" %}" method="post" novalidate class="shadow p-5">
    {% csrf_token %}
    <div class="mb-3">
     <label for="exampleInputEmail1" class="form-label">Email</label>
     <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name='email' required>
    </div>
    <div class="mb-3">
     <label for="exampleInputPassword1" class="form-label">Password</label>
     <input type="password" class="form-control" id="exampleInputPassword1" name='password' required>
    </div>
    <small><a href="{% url "forgotpassword" %}">Forgot Password ?</a></small> <br>
    <input type="submit" class="btn btn-primary mt-4" value="Login">
    <br>
    <div class="text-center text-primary fw-bold"><small>New to ShoppinglyX ? <a href="{% url 'registration' %}"
       class="text-danger">Create an Account</a> </small></div>
   </form>
  </div>
 </div>
 {% endif %}
</div>
{% endblock main-content %}