{% extends 'base.html' %}
{% block title %}Create Profile{% endblock title %}
{% block content %}



<section class="section-conten padding-y bg"><br/>

<div class="container">
	<div class="row">
	{% include 'app/dashboard_sidebar.html' %}
	<main class="col-md-9">
		<article class="card">
		<header class="card-header">
			<strong class="d-inline-block mr-3">Create Profile</strong>
			{% comment %} <span>Order Date: 16 December 2018</span> {% endcomment %}
		</header>
		<div class='card-body'>
			<div class ='row'>
				<div class='col-md-12'>
          <form action="{% url 'profile' %}" method="POST" enctype="multipart/form-data" >
            {% csrf_token %}
            {% include "alerts.html" %}
            <div class="col-12">
              <label for="inputName" class="form-label">Username</label>
              {{form.username}}
            </div>
            <div class="col-12">
              <label for="inputName" class="form-label">Profile Picture</label>
              {{form.profile_picture}}
            </div>
            <div class="col-12">
              <label for="inputAddress" class="form-label">Address</label>
              {{form.address_line_1}}    
            </div>
            <div class="col-12">
              <label for="inputAddress2" class="form-label">Address 2</label>
              {{form.address_line_2}}      
            </div>
            <div class="col-12">
              <label for="inputAddress2" class="form-label">Mobile </label>
              {{form.mobile}}      
            </div>
            <div class="col-12">
              <label for="inputCity" class="form-label">City</label>
              {{form.city}}  
            </div>
            <div class="col-12">
              <label for="inputCity" class="form-label">State</label>
              {{form.state}}
            </div>
            <div class="col-md-2">
              <label for="inputZip" class="form-label">Zip</label>
              {{form.zipcode}}
            </div>
            
            <div class="col-12 mt-3">
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
           </form>
				</div>
			</div>
		</div> <!-- table-responsive .end// -->
		</article> <!-- order-group.// --> 
	</main>
</div> <!-- row.// -->
</div>
</section> 
{% endblock content %}

{% comment %} {% extends 'app/base.html' %}
{% load static %}
{% block title %}Profile{% endblock title %}
{% block main-content %}
<div class="container my-5">
 <div class="row">
  <h3>Welcome {{user.first_name}}</h3>
  <div class="col-sm-2 border-end">
    {% include "app/profiel_dash.html" %}
  </div>
  <div class="col-sm-8 offset-sm-1">
   <form action="{% url "profile" %}" method="POST">
    {% csrf_token %}
    {% include "alerts.html" %}
    <div class="col-12">
      <label for="inputName" class="form-label">Name</label>
      {{form.username}}
    </div>
    <div class="col-12">
      <label for="inputAddress" class="form-label">Address</label>
      {{form.address_line_1}}    
    </div>
    <div class="col-12">
      <label for="inputAddress2" class="form-label">Address 2</label>
      {{form.address_line_2}}      
    </div>
    <div class="col-12">
      <label for="inputAddress2" class="form-label">Mobile </label>
      {{form.mobile}}      
    </div>
    <div class="col-12">
      <label for="inputCity" class="form-label">City</label>
      {{form.city}}  
    </div>
    <div class="col-12">
      <label for="inputCity" class="form-label">State</label>
      {{form.state}}
    </div>
    <div class="col-md-2">
      <label for="inputZip" class="form-label">Zip</label>
      {{form.zipcode}}
    </div>
    <div class="col-12 mt-3">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
   </form>
  </div>
 </div>
</div>
{% endblock main-content %} {% endcomment %}

