{% extends 'app/base.html' %}
{% load static %}
{% block title %}Login{% endblock title %}
{% block main-content %}


<div class="container">
 <div class="row my-3">
  <div class="col-sm-6 offset-sm-3">
   <h3>Reset Password</h3>
   <hr>
   {% include "alerts.html" %}
   <form action="{% url "resetpassword" %}" method="post" novalidate class="shadow p-5">
    {% csrf_token %}
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Create Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" name='password' required>
       </div>
    <div class="mb-3">
     <label for="exampleInputPassword1" class="form-label">Confirm Password</label>
     <input type="password" class="form-control" id="exampleInputPassword1" name='confirm_password' required>
    </div>
    <input type="submit" class="btn btn-primary mt-4" value="Login">
    <br>
    <div class="text-center text-primary fw-bold"><small>New to ShoppinglyX ? <a href="{% url 'registration' %}"
       class="text-danger">Create an Account</a> </small></div>
   </form>
  </div>
 </div>
</div>
{% endblock main-content %}